.splash {
  margin: 0 auto;
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://wallpapercave.com/wp/qkwoEmB.jpg");
}

.title {
  color: white;
  text-align: center;
}
