homewardbound/src/main/resources/application.properties
homewardbound/src/main/resources/application.properties
homewardbound/target/classes/application.properties

client/public/images/slide1.jpg
client/public/images/slide1b.webp
client/public/images/slide2.jpg
client/public/images/slide2b.webp
client/public/images/slide3.jpg
client/public/images/slide3b.webp
client/public/images/slide4.jpg
client/public/images/slide4b.webp
client/public/images/slide5.jpg
client/public/images/slide5b.webp
client/public/images/slide6.jpg
client/public/images/slide6b.webp
client/public/images/slide1.jpg
