.dogbody {
    background-color: #F4F3EE;
    text-align: white;
    padding: 35px;
    height: 100vh;
    width:  80vw;
}

.dogimage {
 height: 65px;
 width: 65px;
 text-align: center;
 margin-left: 49%;

}