/* .row {
    display: flex;
  }
  
  .column {
    flex: 50%;
  }

  .about {
    background-color: white;
    margin: 1rem auto;
    position: relative;
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    margin-top: 5%;
  } */


