.container .card-description {
  color: rgba(255, 255, 255, 0.8) !important;
}

/* .description {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
} */

/* .row {
    display: flex;
  }
  
  .column {
    flex: 50%;
  }

  .about {
    background-color: white;
    margin: 1rem auto;
    position: relative;
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    margin-top: 5%;
  } */
