.slide:hover,
.slide:focus {
  box-shadow: inset 6.5em 0 0 0 var(--hover);
}
$colors: (
  slide: #f47660,
  fill: #a972cb,
  pulse: #ef6eae,
  close: #ff7f82,
  raise: #ffa260,
  up: #e4cb58,
  offset: #19bc8b,
  // slide: #8fc866,
);
@each $li, $color in $colors {
  .#{$li} {
    --color: #{$color};
    --hover: #{adjust-hue($color, 45deg)};
  }
}
ul li {
  color: var(--color);
  transition: 0.25s;

  &:hover,
  &:focus {
    border-color: var(--hover);
    color: #fff;
  }
}
ul li {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}
