.activeLink {
  color: #f47660 !important;
  font-weight: bold !important;
}
.activeLink:hover {
  color: #fff !important;
}

.inactiveLink {
  color: #fff !important;
  font-weight: 400 !important;
}
.activeLink:hover {
  color: #f47660 !important;
}
